.blog {
  display: block;
  min-width: 320px;
  .page-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.blog-swipe {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px; // transform: translateX(-100%);
  transition: 0.4s;
  &--opened {
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
    transform: translateX(0%);
  }
}

.blog-swipe__show-btn {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: -10px;
  margin-top: -30px;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
  background-color: $color2;
  border-radius: 50%;
}

.blog-swipe__nav {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  padding-top: 150px;
  background-color: $color2;
  font-family: $font-basic;
}

.blog-swipe__nav-item {
  display: block;
  margin-bottom: 35px;
  padding-right: 25px;
}

.blog-swipe__nav-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $white;
  text-decoration: none;
  text-align: right;
  &--active {
    font-weight: 700;
  }
}

.blog__articles {
  display: block;
  padding-left: 15px;
  padding-right: 25px;
}

.blog-article {
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
  &:not(:last-child) {
    border-bottom: 4px solid rgba($bg-color4, 0.07);
  }
}

.blog-article__title {
  display: block;
  margin-bottom: 15px;
  text-align: left;
}

.blog-article__date {
  display: block;
  color: rgba($color2, 0.7);
}

.blog-article__content {
  display: block;
}

.blog-article__text {
  display: block;
}