.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-image: url("../img/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome__auth {
  display: block;
  margin-bottom: 35px;
}

.welcome__footer {
  display: block;
  margin-top: 40px;
  color: $white;
  text-align: center;
}

.welcome__footer-name {
  display: block;
}

.welcome__footer-copyright {
  display: block;
}