.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-image: url("../img/water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media all and (min-width: $screen-sm) {
    padding: 20px;
  }
}

.welcome__canvas {
  // width: 100vw !important;
  min-height: 100% !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.welcome__auth {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin-bottom: 35px;
  text-align: center;
  @media all and (min-width: $screen-sm) {
    text-align: right;
  }
}

.welcome__auth-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  &--hidden {
    visibility: hidden;
  }
}

.welcome__footer {
  display: block;
  margin-top: 40px;
  color: $white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  @media all and (min-width: $screen-sm) {
    font-size: 16px;
  }
}

.welcome__footer-name {
  display: block;
  margin-bottom: 5px;
  @media all and (min-width: $screen-sm) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 4px;
    &::after {
      content: "|";
    }
  }
}

.welcome__footer-copyright {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.preloader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5f8c51;
  background-image: url("../img/preloader-bg.jpg");
  z-index: 900;
}

.preloader__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-sprite-forest {}

.svg-text {
  stroke: #fff;
  fill: none;
}