// Индивидуальные базовые стили для конкретного проекта в соответствии
// с его UI-китом.
// 
// Пример
.button {
  font-family: $font-basic;
  &:hover {}
  &:focus {}
  &:active {}
  &--round {
    border-radius: 20px;
  }
  &--round-transparent {
    border-radius: 20px;
    padding: 7px 20px;
    border: 1px solid $white;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}

input[type="text"],
input[type="password"] {
  display: inline-block;
  vertical-align: top;
}

input[type="checkbox"]+i {
  display: inline-block;
  vertical-align: top;
}

input[type="checkbox"]:checked+i {
  display: inline-block;
  vertical-align: top;
}

input[type="radio"]+i {
  display: inline-block;
  vertical-align: top;
}

input[type="radio"]:checked+i {
  display: inline-block;
  vertical-align: top;
}

h1 {
  display: block;
}

h2 {
  display: block;
}

h3 {
  display: block;
}

p {
  display: block;
}