// ################ COLORS START ################
//
$white: #ffffff;
$black: #000000;
//
$color1: $white;
$color2: $white;
$color3: $white;
$color4: $white;
$color5: $white;
//
// ################ COLORS END ################
// ################ FONTS START ################
//
$font-basic: Arial,
sans-serif;
$font1: $font-basic;
$font2: $font-basic;
$font3: $font-basic;
//
$font-size-body: 14px;
$font-size: 1rem;
$line-height: 1.2;
//
// ################ FONTS END ################
// ################ ADAPTIVE START ################
//
$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
//
// ################ ADAPTIVE END ################
// ################ OTHER START ################
// ################ OTHER END ################