// ################ COLORS START ################
//
$white: #ffffff;
$black: #000000;
//
$color1: #6c9c5a;
$color2: #4e8839;
$color3: #393e42;
$color4: #373e42;
$color5: #7e9b5c;
//
// ################ COLORS END ################
// ################ FONTS START ################
//
$font-basic: Roboto,
Arial,
sans-serif;
$font1: "Sansus Webissimo",
Arial,
sans-serif;
$font2: $font-basic;
$font3: $font-basic;
//
$font-size-body: 14px;
$font-size: 1rem;
$line-height: 1.2;
//
// ################ FONTS END ################
// ################ ADAPTIVE START ################
//
$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1200px;
$screen-lg: 1800px;
//
// ################ ADAPTIVE END ################
// ################ OTHER START ################
// ################ OTHER END ################