nav.burger-menu
  button(type="button").burger-menu__close#jsBurgerMenuClose
  ul.burger-menu__list
    li.burger-menu__item
      a(href="works.html").page-title.burger-menu__link.burger-menu__link--active Мои работы
    li.burger-menu__item
      a(href="blog.html").page-title.burger-menu__link Блог
    li.burger-menu__item
      a(href="about.html").page-title.burger-menu__link Обо мне
    li.burger-menu__item
      a(href="index.html").page-title.burger-menu__link Авторизация