.burger-menu
  button(type="button").burger-menu__close
  ul.burger-menu__list
    li.burger-menu__item
      a(href="#").page-title.burger-menu__link.burger-menu__link--active Мои работы
    li.burger-menu__item
      a(href="#").page-title.burger-menu__link Блог
    li.burger-menu__item
      a(href="#").page-title.burger-menu__link Обо мне
    li.burger-menu__item
      a(href="#").page-title.burger-menu__link Авторизация