header.header
  .header__top
    .header__socials
      include socials
      +socials("socials--white")
    button(type="button").header__burger#jsHeaderBurger
      +svg("hamburger")
  .header__menu.header__menu--hidden#jsBurgerMenu
    include burger-menu
  .header__author
    include author
  a(href="#").header__read-more#jsHeaderScroll
    +svg("arrow_down")