
.socials
  ul.socials__list
    li.socials__item
      a(href="#").socials__link.socials__link Вконтакте
        .socials__svg
          +svg("github")
    li.socials__item
      a(href="#").socials__link.socials__link GitHub
        .socials__svg
          +svg("github")
    li.socials__item
      a(href="#").socials__link.socials__link LinkedIn
        .socials__svg
          +svg("github")