mixin socials(addClass)
  div.socials(class= addClass)
    ul.socials__list
      li.socials__item
        a(href="#").socials__link.socials__link Вконтакте
          +svg("vk")
      li.socials__item
        a(href="#").socials__link.socials__link GitHub
          +svg("github")
      li.socials__item
        a(href="#").socials__link.socials__link LinkedIn
          +svg("in")