.socials
  ul.socials__list
    li.socials__item
      a(href="#").socials__link.socials__link--vk Вконтакте
    li.socials__item
      a(href="#").socials__link.socials__link--github GitHub
    li.socials__item
      a(href="#").socials__link.socials__link--in LinkedIn