extends ../template/_layout

block vars
  - var title = "Блог";


block content

  .blog
    .blog-swipe
      button(type="button").blog-swipe__show-btn
      ul.blog-swipe__nav
        li.blog-swipe__nav-item
          a(href="#").blog-swipe__nav-link.blog-swipe__nav-link--active Самое важное в SASS
        li.blog-swipe__nav-item
          a(href="#").blog-swipe__nav-link Самое важное в SASS 2
        li.blog-swipe__nav-item
          a(href="#").blog-swipe__nav-link Самое важное в SASS 2333
        li.blog-swipe__nav-item
          a(href="#").blog-swipe__nav-link Самое важное в SASS 244444
    ul.blog__articles
      li.blog-article
        h3.page-subtitle.blog-article__title Самое важное в SASS
        span.page-text.blog-article__date 22 ноября 2018
        div.blog-article__content
          p.page-text.blog-article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.page-text.blog-article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
      li.blog-article
        h3.page-subtitle.blog-article__title Приёмы в вёрстке, без которых не обходится ни один сайт
        span.page-text.blog-article__date 13 ноября 2018
        div.blog-article__content 
          p.page-text.blog-article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.page-text.blog-article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.