<!DOCTYPE html>
html(lang="en")
  - var title = "Главная";
  include ../template/_head
  include ../mixins/_svg-sprite
  body
    .wrapper
      div.content
        .preloader
          .preloader__svg
            include ../../img/svg/forest.svg
        .welcome(style="visibility: hidden;")
          canvas.welcome__canvas
          .welcome__auth
            button(type="button").button.button--round-transparent.welcome__auth-btn#jsAuthBbtn Авторизоваться
          include ../components/person-card
          .welcome__footer 
            span.welcome__footer-name © Егор Дьяченко 
            span.welcome__footer-copyright Макет предоставлен LoftSchool | 2018
    .scripts(style="display: none")
      script(src="js/app.min.js")
      script(src="js/water.js")
    .svg-sprite(style="display: none") 
      include ../../../build/img/symbol/svg-sprite.svg

    
      