extends ../template/_layout

block vars
  - var title = "List";

block content

  ul(style="margin: 100px; width: 400px; background-color: #efefef;")
    li
      a(href="index.html") Главная
    li
      a(href="#.html") 
    li
      a(href="#.html") 
    li
      a(href="#.html") 