<!DOCTYPE html>
html(lang="en")

  block vars

  include _head

  include ../mixins/_svg-sprite

  body

  .wrapper

    header.header
    
    div.content

      block content

    footer.footer

  block scripts

  // SVG-sprite
  .svg-sprite(style="display: none") 
    //- ↓↓↓↓↓↓↓ Разкоммитить при подключении svg-спрайита ↓↓↓↓↓↓↓
    //- include ../../../build/img/symbol/svg-sprite.svg