<!DOCTYPE html>
html(lang="en")

  block vars

  include _head

  include ../mixins/_svg-sprite
  

  body

    .wrapper

      include ../components/header
      
      div.content

        block content

      include ../components/footer

    .scripts(style="display: none")
      script(src="js/app.min.js")

    // SVG-sprite
    .svg-sprite(style="display: none") 
      //- ↓↓↓↓↓↓↓ Разкоммитить при подключении svg-спрайита ↓↓↓↓↓↓↓
      include ../../../build/img/symbol/svg-sprite.svg