.person-card {
  display: block;
}

.person-card__front {
  display: block;
}

.person-card__nav {
  display: block;
}

.person-card__nav-item {
  display: block;
}

.person-card__nav-link {
  display: block;
}

.person-card__back {
  display: block;
}

.person-card__title {
  display: block;
}

.person-card__form {
  display: block;
}

.person-card__login {
  display: block;
}

.person-card__password {
  display: block;
}

.person-card__questions {
  display: block;
}

.person-card__alive {
  display: block;
}

.person-card__hidden-checkbox {
  display: block;
}

.person-card__custom-checkbox {
  display: block;
}

.person-card__text {
  display: block;
}

.person-card__robot {
  display: block;
}

.person-card__robot-yes {
  display: block;
}

.person-card__hidden-radio {
  display: block;
}

.person-card__custom-radio {
  display: block;
}

.person-card__robot-no {
  display: block;
}

.person-card__buttons {
  display: block;
}

.person-card__reset {
  display: block;
}

.person-card__submit {
  display: block;
}