.skills {
  display: block;
}

.skills-title {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  color: $color6;
  font-family: $font-basic;
  font-size: 21px;
  font-weight: 500;
  line-height: 27.92px;
  text-align: center;
  @media (min-width: $screen-md) {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
  }
}

.skills__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  @media (min-width: $screen-md) {
    justify-content: flex-start;
  }
}

.skills__item {
  margin: 10px 15px;
}