.socials {
  display: block;
}

.socials__list {
  display: block;
}

.socials__item {
  display: block;
}

.socials__link {
  display: block;
  color: green;
  font-size: 0;
}

.socials__svg {
  font-size: 20px;
}